
.main {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
  color:white;
  font-family: 'Roboto Slab', serif;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.main__hero {
  transform:translate(0px,60%);
  position:relative;
}

.main__hero-title {
  font-size: 42px;
  line-height:1.2;
  font-weight: 700;
}

.main__hero-subtitle {
  font-family: 'Roboto', sans-serif;
  margin-top:15px;
}

.main__hero-container_links {
  width: 45px;
  height: 45px;
  background-color:white;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items:center;
  position:relative;
  top:60%;
  left:40%;
  transform: translateY(20px);
}





