.main__hero {
  min-height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  // padding-bottom:100px;
  position: relative;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color:white;
}

.main__hero-title {
  padding-top:150px;
  font-size: 42px;
  line-height:1.2;
  font-weight: 700;
}

.main__hero-subtitle {
  font-family: 'Roboto', sans-serif;
  margin-top:10px;
}

.main__hero-container_links {
  width: 45px;
  height: 45px;
  background-color:white;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items:center;
  position:absolute;
  bottom:0;
  left:50;
  transform: translateY(-50px);
}





