.aside__reasons_section{
  background-color:#eff9ff;
  font-family: 'Roboto', sans-serif;
  line-height:1.5;
  font-weight:300;
  text-align:center;
  color:black;
  padding:20px 0;
}

.aside__reasons-main_title {
  font-family: 'Roboto Slab', serif;
  font-size:24px;
  font-weight:400px;
  margin:30px 0 45px;
}

.aside__reasons {
  font-size:16px;
  line-height:1.6;
  width:180px;
  margin:45px auto;
}

.aside__reasons-article-title {
  font-family: 'Roboto Slab', serif;
  padding:5px;
}

.aside__reasons-button{
  font-weight:400;
  font-size:18px;
  line-height:1.5;
  color:white;
  width:184px;
  height:45px;border-radius: 50px;
  border-style:none;
  background-color: #f26002;
  margin:45px 0 60px;
}

@media all and (min-width:768px){
  .container {
    margin: 0 39px;
  }

  .aside__reasons_section_grid_container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap:5px 50px;
    margin:10px 0;
  }

  .aside__reasons .reason1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .aside__reasons .reason2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .aside__reasons .reason3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .aside__reasons-button{
    margin-top:45px;
  }

  // grid-column: 1 / 4;
  // grid-row: 1 / 4;


}

