.aside__reasons_section{
  background-color:#eff9ff;
  font-family: 'Roboto', sans-serif;
  line-height:1.5;
  font-weight:300;
  text-align:center;
  color:black;
  padding:30px 0;
}

.aside__reasons-main_title {
  font-family: 'Roboto Slab', serif;
  font-size:24px;
  font-weight:400px;
  margin-bottom:45px;
}

.aside__reasons {
  font-size:16px;
  line-height:1.6;
  width:180px;
  margin:45px auto;
}

.aside__reasons-article-title {
  font-family: 'Roboto Slab', serif;
  padding:5px;
}

.aside__reasons-button{
  font-weight:400;
  font-size:18px;
  line-height:1.5;
  color:white;
  width:184px;
  height:45px;border-radius: 50px;
  border-style:none;
  background-color: #f26002;
  margin:0 0 60px;
}
