@import 'core/_variable.scss';
// @import 'core/links';

// body {
// 	background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
// 	margin: 0;
// 	height: 100vh;
// }
@import 'complements/_header.scss';
@import 'complements/_hero.scss';
@import 'complements/_new-section.scss';
@import 'complements/_section-tips.scss';
@import 'complements/_aside.scss';
@import 'complements/_footer.scss';


* {
  margin:0;
}


.container {
  margin:0 15px;

    @media all and (min-width:768px) {
        margin: 0 39px;
    }
    @media all and (min-width:1200px) {
        margin: 0 auto;
        width: 1030px;
    }
}


@keyframes rotation {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(50%);
  }
}


















