// @import 'core/settings';
// @import 'core/links';

// body {
// 	background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
// 	margin: 0;
// 	height: 100vh;
// }
@import 'complements/_header.scss';
@import 'complements/_hero.scss';
@import 'complements/_section-tips.scss';
@import 'complements/_aside.scss';

* {
  margin:0;
}

.container {
  margin:0 15px;
}






.footer {
  background-color:yellow;
  height: 200px;
}
