<aside class="aside__reasons_section">
  <div class="container">

      <div class="aside__reasons-title-container">
        <h2 class="aside__reasons-main_title">
          3 Reasons To Purchase
        </h2>
      </div>

      <div class="aside__reasons_section_grid_container">
          <div class="aside__reasons reason1">
            <h3 class="aside__reasons-article-title">
                Ut sed metus
            </h3>
            <p class="aside__reasons-article-content">
                Lorem ipsum dolor sit amet, consecteur.
            </p>
          </div>

          <div class="aside__reasons reason2">
            <h3 class="aside__reasons-article-title">
                Curabitur ac erat
            </h3>
            <p class="aside__reasons-article-content">
                Mauris mattis urna quis lorem molestie.
            </p>
          </div>

          <div class="aside__reasons reason3">
            <h3 class="aside__reasons-article-title">
                Morbi dictum
            </h3>
            <p class="aside__reasons-article-content">
                Aliquam in dolor et dolor tincidunt.
            </p>
          </div>
      </div>

      </div class="aside__reasons">
      <button class="aside__reasons-button" name="More reasons" type="button">More reasons</button>
      </div>


  </div>
</aside>
