<section class="section__tips">
    <div class="container">

        <div class="section__tips-text">
          <p class="section__tips-text-small">
              <small>Insomnia Tips</small>
          </p>
          <h2 class="section_tips-text-main-title">
              Looking Through A Window
          </h2>
          <p class="section__main-text-paragraph">
              Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
          </p>
        </div>
        <button class="section__tips-link" name="go" type="button">Go</button>
    </div>
  </section>
