<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap | Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>m1-evaluacion-final-pascualbeatriz</title>
</head>

<body class="body">

    <partial src="_header.html"></partial>

<main class="main">
    <partial src="_hero.html"></partial>

    <partial src="_section-tips.html"></partial>

    <partial src="_aside.html"></partial>
</main>

<footer class="footer">
  <div class="container">

    <div class="footer__anchor">
        <div class="footer__anchor_container">
          <a href="/" class="footer__anchor_link"><img class="footer__anchor_link-img"src="assets/images/ico-arrow.svg" alt="arrow-up_icon"></a>
        </div>
    </div>

        <div class="footer__links_container">

              <nav class="footer__nav">
                <ul class="footer__nav-container">
                  <li class="footer__nav-elements">
                    <a href="#articles" class="footer__nav-elements-links">Articles</a>
                  </li>

                  <li class="footer__nav-elements">
                    <a href="#books" class="footer__nav-elements-links">Books</a>
                  </li>

                  <li class="footer__nav-elements">
                    <a href="#events" class="footer__nav-elements-links">Events</a>
                  </li>

                  <li class="footer__nav-elements">
                    <a href="#anchor-aside" class="footer__nav-elements-links">Reasons</a>
                  </li>

                  <li class="footer__nav-elements">
                    <a href="#tips" class="footer__nav-elements-links">Tips</a>
                  </li>
                </ul>
              </nav>

              <ul class="footer__social_networks">
                <li class="footer__social_networks-elements">
                    <a href="https://twitter.com" class="footer__nav-elements-links">Twitter</a>
                </li>
                <li class="footer__social_networks-elements">
                    <a href="https://www.instagram.com" class="footer__nav-elements-links">Instagram</a>
                </li>
                <li class="footer__social_networks-elements">
                    <a href="https://mastodon.social/about" class="footer__nav-elements-links">Mastodon.social</a>
                </li>
              </ul>

              <div class="footer__container-text">
                  <p class="footer__copyright">©2017</p>
                  <p class="footer__end">we <span class="footer__end-heart"> ❤︎ </span>components
                  </p>
              </div>
        </div>
  </div>
</footer>


</body>
</html>
