<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap|Roboto&display=swap " rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>m1-evaluacion-final-pascualbeatriz</title>
</head>

<body class="body">

    <partial src="_header.html"></partial>

<main class="main">

    <partial src="_hero.html"></partial>

    <section class="section__tips">
      <div class="section__tips-text">
        <p class="section__tips-text-small">
            <small>Insomnia Tips</small>
        </p>
        <h2 class="section_tips-text-main-title">
            Looking Through A Window
        </h2>
        <p class="section__main-text-paragraph">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
      </div>
      <div class="section__tips-link">
        Go
      </div>
    </section>

    aside.

</main>









  <footer class="footer">

  </footer>
</body>
</html>
