<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>m1-evaluacion-final-pascualbeatriz</title>
</head>
<body class="body">

<header class="header">
    <div class="header__container">
      <button class="header__container-button">
          <img class="header__container-button-menu" src="assets/images/ico-menu.svg" alt="hamburger button">
      </button>
    </div>
</header>


<main class="main">
  <div class="main__hero">


  </div>
</main>









  <footer class="footer">

  </footer>
</body>
</html>
